extends layout
block content
  div.
    This is where I will redirect once a user is logged in. I will show the ideas and possibly the comments. Comments will probably be once I implement a specific page per idea!
  if message && message.length != 0
    p= message
  if signedIn && signedIn.length != 0
    p= signedIn
  table
    thead
      tr
        th Idea
        th Creator
    tbody
      each idea in ideas
        tr
          td= idea.idea
          td= idea.creator

  a(href="/users/logout") Logout