extends layout
block content
  div.
    This is where I will redirect once a user is logged in. I will show the ideas and possibly the comments. Comments will probably be once I implement a specific page per idea!

  table
    thead
      tr
        th Idea
        th Creator
    tbody
      each idea in ideas
        tr
          td= idea.idea
          td= idea.creator

  form(action="/users/logout", method="post")
    button(type="submit") Logout