extends layout
block content
  h2 Welcome to the Log In Page
  if errorMsg && errorMsg.length !== 0
    .error 
      p= errorMsg
  if message && message.length !== 0
    .message
      p= message
  form(action="/users/login", method="post")
    .custTable
      .row
        .cell.label
          p Email
        .cell.input
          input(type="email", name="email")
      .row
        .cell.label
          p Password
        .cell.input
          input(type="password", name="password")
    button(type="submit") Log In
    br
    a.inline(href="/users/forgot") Forgot your password?