<h1>Reset your Password {{user.email}}</h1>
<p>When creating a password, please ensure it contains at least one (1) special charater (!@#$%^*&amp;), one (1) number, one (1) lowercase, and one (1) uppercase character. Also, please make sure that it is at least eight (8) characters long.</p>
<form action="/users/reset", method="post">
  {{#if error}}
    {{#each error}}
      <p class="error">{{this}}</p>
    {{/each}}
  {{/if}}
  <input type="email", name="email" value={{user.email}} style={display: 'none'}>
  <input type="text", name="token" value=token style={display: 'none'}>
  <div class="custTable">
    <div class="row">
      <div class="cell label">
        <p>New Password</p>
      </div>
      <div class="cell input">
        <input type="password", name="password">
      </div>
    </div>
    <div class="row">
      <div class="cell label">
        <p>Confirm New Password</p>
      </div>
      <div class="cell input">
        <input type="password", name="confPass">
      </div>
    </div>
  </div>
  <input type="submit", value="Reset Password">
</form>