extends layout
block content
  div
    h2 Welcome to the Registration Page
  if error && error.length != 0
    p= error
  form(action="/users/signup", method="post")
    label(for="email") Email
    input(type="email", name="email")
    br
    label(for="password") Password
    input(type="password", name="password")
    br
    button(type="submit") Register!